/*Market Title*/
.market-title {
    background-color: yellow;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font: 40px Bold;
    font-family: 'Black Han Sans', sans-serif;
}

.returnPrev {
    float: left;
    font: 20px Bold;
}

.alphabet {
    background-color: lightGray;
    padding: 5px;
    text-align: center;
    font: 20px Bold;
    background: #ccc;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.return {
    font: 20px Bold;
    border: 2px Solid Black;
}

.return:hover {
    background-color: turquoise;
}

img {
    width: 3%;
    height: 3%;
}